<div class="flex flex-col-reverse lg:flex-row w-full">
  <div class="flex flex-col w-full lg:w-1/2 justify-center items-center">
    <div>
      <h1 class="hidden lg:block text-4xl mb-4">Learn from <span class="text-orange-400 text-4xl">Anywhere</span></h1>
      <button class="flex flex-row rounded bg-orange-300 items-center p-2">
        <span class="text-white">Let's start</span>
        <fa-icon [icon]="faCoffee" class="text-white ml-2"></fa-icon>
      </button>
    </div>
  </div>
  <div class="flex justify-center w-full lg:w-1/2 mb-4">
    <img class="w-[80%] lg:w-auto" src="/assets/Introduce.png" alt="">
  </div>
</div>
