{% extends 'includes/list-table.html' %}

{% load custom_filter %}
{% block title %} Courses {% endblock title %}

{% block header_page %}
<h6 class="h2 text-white d-inline-block mb-0">Departments</h6>
{% endblock %}

{% block card_header %}
<div class="card-header border-0 d-flex">
    <a href="/{{ segment }}/create" class="btn btn-sm btn-primary py-2 px-4">New</a>
    <!-- <a href="#" class="btn btn-sm btn-neutral p-2">Filters</a> -->
</div>
<div class="col-lg-6 col-5 text-right d-flex">
    <input placeholder="Search..." type="search" id="form1" class="form-control" />
    <button type="button" class="btn btn-primary" data-mdb-ripple-init>
        <i class="fas fa-search"></i>
    </button>
</div>
{% endblock %}



{% block table_headers %}

{% for i in titles %}
<th scope="col" class="sort">{{i}}</th>
{% endfor %}

{% endblock %}

{% block table_rows %}
<!-- Table rows will go here -->
<!-- <a href="{{course.get_absolute_url}}" >click </a> -->
{% for i in instance_paging %}
<tr class="data_row_table" data-id="{{ i.id }}" url="{% url form_detail_url i.id %}">
    {% for field in fields %}
    <td class="budget">
        {{ i|getattr:field }}
    </td>
    {% endfor %}
</tr>
{% endfor %}

{% endblock %}

{% block table_paging %}
<!-- Table rows will go here -->
{% if instance_paging.has_other_pages %}
<nav class="mb-11 pagiation_course" aria-label="Page navigationa">

    <ul class="pagination justify-content-end mb-0">
        <li class="page-item">
            {% if instance_paging.has_previous %}
            <a class="page-link" href="{% url 'all_departments' %}?page={{instance_paging.previous_page_number}}"
                aria-label="Previous">
                <span aria-hidden="true"><i class="fas fa-angle-left"></i></span>
            </a>
            {% else %}
            <span class="page-link" aria-label="Previous">
                <i class="fas fa-angle-left"></i></span>
            </a>
        </li>
        {% endif %}
        {% for i in instance_paging.paginator.page_range %}
        {% if instance_paging.number == i %}
        <li class=" page-item active"> <span class="page-link" href="">{{i}}</span> </li>
        {% else %}
        <li class="page-item"> <a class="page-link" href=" {% url 'all_departments' %}?page={{i}}">{{i}}</a>
        </li>
        {% endif %}
        {% endfor %}
        <li class="page-item">
            {% if instance_paging.has_next %}
            <a class="page-link" href="{% url 'all_departments' %}?page={{instance_paging.next_page_number}}"
                aria-label="Previous">
                <span aria-hidden="true"><i class="fas fa-angle-right"></i></span>
            </a>
            {% else %}
            <span class="page-link" aria-label="Next">
                <i class="fas fa-angle-right"></i></span>
            {% endif %}
        </li>
    </ul>
</nav>
{% endif %}
{% endblock %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
{% endblock javascripts %}