.data_row_table{
    cursor: pointer;
}

tr.data_row_table:hover{
    background-color: rgb(240, 248, 255);
}

ul.navbar-nav .lesson-item{
    color: white;
    background: #cedceb;
    margin-right: .5rem;
    margin-left: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.375rem;
    margin-bottom: 10px;
}