<div class=" bg-blue-300 px-20 py-16">
  <div class="flex flex-col">
    <h1 class="text-2xl font-semibold">Courses</h1>
    <p class="text-lg text-[#5C7472]">Discover your perfect program</p>
  </div>
  <div class="carousel lg:w-full w-2/3 mt-6"
    data-flickity='{"pageDots": false,"cellAlign": "left", "wrapAround": true, "imagesLoaded": true}'>

    @for (item of items; track $index) {
      <app-course-item [index]="$index"></app-course-item>
    }
  </div>
</div>
