{% extends 'includes/form.html' %}

{% block title %} Course Form {% endblock title %}
{% load static %}
{% load crispy_forms_tags %}

{% block header_page %}
<!-- Table headers will go here -->
<h6 class="h2 text-white d-inline-block mb-0">Courses</h6>
<nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
    <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
        <li class="breadcrumb-item"><a href="/courses">Courses</a></li>
        {% if form_type == 'detail-form' %}
        <li class="breadcrumb-item active" aria-current="page">{{ course.title }}</li>
        {% else %}
        <li class="breadcrumb-item active" aria-current="page">Create New Course</li>
        {% endif %}
    </ol>
</nav>
{% endblock %}


{% block header_form %}
<!-- this is header form -->
{% if form_type != 'detail-form' %}
<h1 class="mb-1">Create Course</h1>
<button id="courseButton" class="btn btn-sm btn-primary py-2 px-4 mx-3 mb-2" style="display: none;">Save</button>
{% endif %}
{% endblock %}

{% block body_form %}
<!-- this is form content -->
{% if form_type == 'detail-form' %}
<form id="courseForm" action="{%url 'edit_course' course.id%}" method="post">
{% else %}
<form id="courseForm" action="{%url 'create_courses' %}" method="post">
{% endif %}
        {% csrf_token %}
        <div class="pl-lg-4">
            <div class="row">
                <div class="col-lg-12">
                    {{ form.title | as_crispy_field }}
                </div>
            </div>
        </div>
        <div class="pl-lg-4">
            <div class="row">
                <div class="col-lg-4">
                    {{ form.author | as_crispy_field }}

                </div>
                <div class="col-lg-4">
                    {{ form.category | as_crispy_field }}
                </div>

                <div class="col-lg-4">
                    {{ form.language | as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    {{ form.price | as_crispy_field }}
                </div>
                <div class="col-lg-6">
                    {{ form.discount | as_crispy_field }}
                </div>
            </div>
        </div>
        <hr class="my-4">
        <!-- Description -->
        <h6 class="heading-small text-muted mb-4">Description</h6>
        <div class="pl-lg-4">
            {{ form.description | as_crispy_field }}
        </div>

        <hr class="my-4">
        <!-- Address -->
        <h6 class="heading-small text-muted mb-4">Contact information</h6>
        <div class="pl-lg-4">
            <div class="row">
                <div class="col-md-4">
                    {{ form.status | as_crispy_field }}
                </div>
                <div class="col-lg-4">
                    {{ form.language | as_crispy_field }}
                </div>
                <div class="col-lg-4">
                    {{ form.date_start | as_crispy_field }}
                </div>
            </div>
        </div>

    </form>
    {% endblock %}

    {% block extends_field %}
        <table class="table align-items-center table-flush">
            <thead class="thead-light">
                <tr>
                    <th scope="col" colspan="2">Lessons</th>
                </tr>
            </thead>
            {% if lesson_set %}
                {% for lesson in lesson_set %}
                <tr id="lesson-{{ lesson.id }}" class="child_data_table" data-id="{{ lesson.id }}">
                    <td class="w-100 budget py-3" style="font-size: 15px;">
                        {{ lesson.name }}
                    </td>
                    <td
                        <a id="deleteLesson-{{ lesson.id }}" class="float-right" onclick="deleteLesson({{ lesson.id }})" url="{% url 'delete_lesson' lesson.id %}">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            {% endif %}
            <tr id="add_lesson_row" class="child_data_table">
                <td class="budget text-muted" colspan="2">
                    <button class="btn add_lesson">+ Add lesson to course</button>
                </td>
            </tr>
            <tr id="input_add_lesson_row" class="child_data_table" style="display:none;">
                <td class="budget text-muted" >
                    <input type="text" class="form-control lesson_input">
                </td>
                <td class="align-items-center">
                    <button class="btn btn-sm btn-primary py-2 px-4 mx-3 mb-2" onclick="addLesson({{ course.id }})">Add</button>
                    <button class="btn btn-sm btn-danger py-2 px-4 mx-3 mb-2" onclick="toggleInput()">Cancel</button>
                </td>
            </tr>
        </table>
    {% endblock %}

    {% block action_form %}
    <!-- this is form content -->
    {% if form_type == 'detail-form' %}
    <img src="/static/assets/img/theme/img-1-1000x600.jpg" alt="Image placeholder" class="card-img-top">
    <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
        <div class="d-flex flex-column justify-content-center">
            <h3 class="mb-1">{{ course.title }}</h3>
            <a id="courseButton" href="#" class="btn btn-sm btn-info w-100 my-2" style=" display: none;">Save</a>
            <a href="#" class="btn btn-sm btn-info w-100 my-2">Duplicate</a>
            <button id="deleteCourse" data-toggle="modal" data-target="#deleteModal"
                class="btn btn-sm btn-danger w-100 my-2">Delete</button>
            <a href="#" class="btn btn-sm btn-success w-100 my-2">Archive</a>
        </div>
    </div>
    {% endif %}
    {% endblock %}

    {% block modal %}
    
    {% if course %}
    {% include "courses-app/modal/deleteModal.html" with url_name="delete_course" id=course.id %}
    {% endif %}
    

    {% endblock %}

    <!-- Specific JS goes HERE -->
    {% block javascripts %}
    {% endblock javascripts %}