{% extends 'includes/form.html' %}

{% block title %} Department Form {% endblock title %}
{% load static %}
{% load crispy_forms_tags %}

{% block header_page %}
<!-- Table headers will go here -->
<h6 class="h2 text-white d-inline-block mb-0">Lesson</h6>
<nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
    <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
        <li class="breadcrumb-item"><a href="/lessons">Lessons</a></li>
        {% if form_type == 'detail-form' %}
        <li class="breadcrumb-item active" aria-current="page">{{ lesson.name }}</li>
        {% else %}
        <li class="breadcrumb-item active" aria-current="page">Create New Lesson</li>
        {% endif %}
    </ol>
</nav>
{% endblock %}


{% block header_form %}
<!-- this is header form -->
{% if form_type != 'detail-form' %}
<h1 class="mb-1">Create Lesson</h1>
<button id="courseButton" class="btn btn-sm btn-primary py-2 px-4 mx-3 mb-2" style="display: none;">Save</button>
{% endif %}
{% endblock %}

{% block body_form %}
<!-- this is form content -->
    {% if form_type == 'detail-form' %}
    <form id="courseForm" action="{%url 'edit_lesson' lesson.id%}" method="post">
    {% else %}
    <form id="courseForm" action="{%url 'create_lesson' %}" method="post">
    {% endif %}
        {% csrf_token %}
        {{ form|crispy }}
    </form>
    {% endblock %}

    {% block action_form %}
    <!-- this is form content if it eddit -->
    {% if form_type == 'detail-form' %}
    <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
        <div class="d-flex flex-column justify-content-center">
            <h3 class="mb-1">{{ lesson.name }}</h3>
            <a id="courseButton" href="#" class="btn btn-sm btn-info w-100 my-2" style=" display: none;">Save</a>
            <a href="#" class="btn btn-sm btn-info w-100 my-2">Duplicate</a>
            <button id="deleteCourse" data-toggle="modal" data-target="#deleteModal"
                class="btn btn-sm btn-danger w-100 my-2">Delete</button>
            <a href="#" class="btn btn-sm btn-success w-100 my-2">Archive</a>
        </div>
    </div>
    {% endif %}

    {% if lesson %}
    {% include "courses-app/modal/deleteModal.html" with url_name="delete_lesson" id=lesson.id %}
    {% endif %}

    {% endblock %}
    <!-- Specific JS goes HERE -->
    {% block javascripts %}
    {% endblock javascripts %}