<div class="bg-white px-20 py-16">
  <div class="flex flex-col">
    <h1 class="text-2xl font-semibold">Trending Categories</h1>
    <p class="text-lg text-[#5C7472]">Osmanthus wine taste the same as i remember, but where are those who share the memory</p>
  </div>
  <div class="grid grid-cols-4 gap-8 mt-6">
    @for (item of items; track $index) {
      <div class="trending-item border rounded shadow shadow-gray-400 p-3 flex flex-col items-center cursor-pointer">
        <img class="mb-1" src="https://i.ytimg.com/vi/fiZRjUCnL6U/maxresdefault.jpg" alt="">
        <p class="my-1">Design</p>
        <p class="mt-1">Over 1200 Courses</p>
      </div>
    }
  </div>
</div>
