
      <!-- Footer -->
      <footer class="footer">
        <div class="row align-items-center justify-content-xl-between">
          <div class="col-xl-6">
            <div class="text-center text-xl-left text-muted">
              <a href="https://www.ansv.vn/" 
                 class="font-weight-bold ml-1" target="_blank">ANSV Corperation</a>
            </div>
          </div>
          <div class="col-xl-6">
            <div class="text-center text-xl-right text-muted">
              <a href="https://www.facebook.com/vu.tuhoc/" 
                 class="font-weight-bold ml-1" target="_blank"> &copy; A.Lì7</a> 
                 - coded by <a target="_blank" href="https://www.ansv.vn/">ANSV</a>
            </div>
          </div>
        </div>
      </footer>
