{% extends 'layouts/base.html' %}

{% block title %}{{ title }}{% endblock %}
{% load static %}

{% block content %}
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    {% block header_page %}
                    <!-- Table headers will go here -->
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
    <div class="row">
        {% if form_type == 'detail-form' %}
        <div class="col-xl-9 order-xl-2">
        {% else %}
        <div class="col-xl-12 order-xl-2">
        {% endif %}
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-lg-9 align-items-center">
                            {% block header_form %}
                            <!-- this is breadcrum -->
                            {% endblock %}
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    {% block body_form %}
                    <!-- this is form content -->
                    {% endblock %}
                </div>
                {% block extends_field %}
                {% endblock %}
            </div>
        </div>
        <div class="col-xl-3 order-xl-3">
            <div class="card card-action card-scroll-follow">
                {% block action_form %}
                <!-- this is form content -->
                {% endblock %}
            </div>
        </div>
    </div>
    {% include "includes/footer.html" %}
</div>
<!-- modal -->
{% block modal %}
{% endblock %}
<!-- Specific JS goes HERE -->
{% endblock %}