<!-- templates/list_base.html -->
{% extends 'layouts/base.html' %}

{% block title %}{{ title }}{% endblock %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    {% block header_page %}
                    <!-- Table headers will go here -->
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <!-- Card header -->
                <div class="row align-items-center justify-content-between px-3">
                    {% block card_header %}
                    <!-- Table rows will go here -->
                    {% endblock %}
                </div>
                <!-- Light table -->
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                {% block table_headers %}
                                <!-- Table headers will go here -->
                                {% endblock %}
                            </tr>
                        </thead>
                        <tbody class="list">
                            {% block table_rows %}
                            <!-- Table rows will go here -->
                            {% endblock %}
                        </tbody>

                    </table>
                </div>
                <div class="card-footer py-4">
                    {% block table_paging %}
                            <!-- Table rows will go here -->
                    {% endblock %}
                </div>
                <!-- Card footer -->
            </div>
        </div>
    </div>
    {% include "includes/footer.html" %}

</div>

{% endblock %}