<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
  <div class="scrollbar-inner">
    <!-- Brand -->
    <div class="sidenav-header  align-items-center">
      <a class="navbar-brand" href="/">
        <img src="/static/assets/img/brand/blue.png" class="navbar-brand-img" alt="Argon Design - Jinja Template Logo.">
      </a>
    </div>
    <div class="navbar-inner">
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Nav items -->
        <!-- Course Nav -->
        <h6 class="navbar-heading p-0 text-muted">
          <span class="docs-normal">LMS</span>
        </h6>

        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link {% if 'courses' in segment %} active {% endif %}" href="/courses">
              <i class="ni ni-books text-primary"></i>
              <span class="nav-link-text">Courses</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link {% if 'lessons' in segment %} active {% endif %}" href="/lessons">
              <i class="ni ni-books text-primary"></i>
              <span class="nav-link-text">Lessons</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link {% if 'videos' in segment %} active {% endif %}" href="/videos">
              <i class="ni ni-books text-primary"></i>
              <span class="nav-link-text">Lesson's video</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link {% if 'departments' in segment %} active {% endif %}" href="/departments">
              <i class="ni ni-books text-primary"></i>
              <span class="nav-link-text">Departments</span>
            </a>
          </li>

          
          <li class="nav-item">
            <a class="nav-link {% if 'categorys' in segment %} active {% endif %}" href="/categorys">
              <i class="ni ni-books text-primary"></i>
              <span class="nav-link-text">Categories</span>
            </a>
          </li>
        </ul>

        <!-- Divider -->
        <hr class="my-3">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link {% if 'index' in segment %} active {% endif %}" href="/">
              <i class="ni ni-tv-2 text-primary"></i>
              <span class="nav-link-text">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'icons' in segment %} active {% endif %}" href="/icons.html">
              <i class="ni ni-planet text-orange"></i>
              <span class="nav-link-text">Icons</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'map' in segment %} active {% endif %}" href="/map.html">
              <i class="ni ni-pin-3 text-primary"></i>
              <span class="nav-link-text">Google</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'profile' in segment %} active {% endif %}" href="/profile.html">
              <i class="ni ni-single-02 text-yellow"></i>
              <span class="nav-link-text">Profile</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'tables' in segment %} active {% endif %}" href="/tables.html">
              <i class="ni ni-bullet-list-67 text-default"></i>
              <span class="nav-link-text">Tables</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login.html">
              <i class="ni ni-key-25 text-info"></i>
              <span class="nav-link-text">Login (template)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register.html">
              <i class="ni ni-circle-08 text-pink"></i>
              <span class="nav-link-text">Register (template)</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">
              <i class="ni ni-user-run text-red"></i>
              <span class="nav-link-text">Logout</span>
            </a>
          </li>
        </ul>
        <!-- Divider -->
        <hr class="my-3">
        <!-- Heading -->
        <h6 class="navbar-heading p-0 text-muted">
          <span class="docs-normal">Resources</span>
        </h6>
        <!-- Navigation -->
        <ul class="navbar-nav mb-md-3">

          <li class="nav-item">
            <a class="nav-link" target="_blank" href="https://appseed.us/admin-dashboards/django-dashboard-argon">
              <i class="ni ni-archive-2"></i>
              <span class="nav-link-text">Product Page</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" target="_blank" href="https://appseed.us/admin-dashboards/django-dashboard-argon-pro">
              <i class="ni ni-spaceship text-red"></i>
              <span class="nav-link-text text-red">PRO Version</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link active active-pro" target="_blank" href="http://appseed.us">
              <i class="ni ni-send text-dark"></i>
              <span class="nav-link-text">AppSeed</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>