/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

// @import url('../node_modules/fullpage.js/dist/fullpage.min.css');

@font-face {
  font-family: Josefin;
  src: url('../public/assets/font/JosefinSans/JosefinSans-Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Josefin;
}

a, a:hover {
  text-decoration: none !important;
}

*::-webkit-scrollbar {
  width: 20px;
  height: 20px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}
